<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with .Page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ printf "Debugging: Params.items = %v" .Page.Params.items }}
    {{ with .Page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with .Page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with .Page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ if .Page.Params.items }}
    {{ range $idx, $item := .Page.Params.items }}
      <div class="card experience course">
        <div class="card-body">
          {{- with $item.url -}}
          <a href="{{ . }}" target="_blank" rel="noopener">
          {{- end -}}
          <h4 class="card-title exp-title text-muted my-0">{{ $item.title | markdownify | emojify }}</h4>
          {{- with $item.url -}}</a>{{- end -}}

          <div class="card-subtitle my-0 article-metadata">
            {{- with $item.organization_url }}
            <a href="{{ . }}" target="_blank" rel="noopener">
            {{ end -}}
            {{ $item.organization | markdownify | emojify }}
            {{- with $item.organization_url }}</a>{{ end -}}

            {{ if or $item.date_start $item.date_end }}
            <span class="middot-divider"></span>
            {{ if $item.date_start }}
            {{ (time $item.date_start).Format "Jan 2006" }}
            {{ end }}
            {{ if $item.date_end }}
            {{ if $item.date_start }} – {{ end }}{{ (time $item.date_end).Format "Jan 2006" }}
            {{ end }}
            {{ end }}
          </div>

          {{ with $item.description }}
          <div class="card-text">{{ . | markdownify | emojify }}</div>
          {{ end }}

          {{ with $item.certificate_url }}
          <a class="card-link" href="{{ . }}" target="_blank" rel="noopener">
            {{ i18n "see_certificate" | default "See certificate" }}
          </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{ else }}
    <p>No updates available.</p>
    {{ end }}
  </div>
</div>